<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bls-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <a class="navbar-brand"><img src="../../assets/logo.png"></a>

  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li *ngIf="angular2TokenService.userSignedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/dashboard']">Dashboard</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!angular2TokenService.userSignedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/session/sign-in']">Login</a></li>
      <li *ngIf="angular2TokenService.userSignedIn()"><a (click) = "onLogoutClick()" href="#">Logout</a></li>
    </ul>
  </div>
</nav>
